.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    background: #f6f8fa; /* 头部背景色 */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    /* 分割线：关键样式 */
    border-bottom: 1px solid #e0e0e0; /* 底部边框作为分割线 */
}
.code-box > pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.copy-btn {
  cursor: pointer;
  border-radius: 6px;
  padding: 3px;
}
/* 悬停效果 */
.copy-btn:hover {
  background-color: #e0e0e0;
}
.copy-btn .checkmark{
  transition: stroke-dashoffset 0.6s ease-in-out, opacity 0.3s ease-in-out;
  stroke-linecap: round;
  stroke-linejoin: round;
}
